.signup-page{
    display: flex;
    justify-content: center;
}
.signup-form, .sucess-loading{
    margin-top: 10vh;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.sucess-loading{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 5vh 0vh 10vh 0vh;
}