
.close-button{
    display: flex;
    justify-content: flex-end;
}

.jobPage{
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.jobInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    padding: 23px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 25%) 0px 10px 36px 0px, rgb(0 0 0 / 21%) 0px 0px 0px 1px;
}

.jobInfoTitle{
    margin-bottom: 6vh;
}

.button-applicant-group{
    display: flex;
    flex-direction: column;
    width: 33%;
}

.button-applicant-group button{
    margin-top: 10px;
}

.job-company-page{
    margin-top: 5vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.participants-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.job-company-info{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 2%;
    border-radius: 10px;
}

.participants-job{
    width: 90%;
    margin-top: 5vh;
}

.list-jobs-header{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 80%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.55);
    padding: 0.3em 0;
}

.title-job-page-company{
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
}