.participant{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 80%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.55);
    padding: 0.3em 0;
}