.login{
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.login-fields{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 2%;
    border-radius: 10px;
}
.btn-login {
    display: grid;
    grid-template-columns: 100%;
    align-content: space-between;
    justify-content: center;
    justify-items: center;
}

.login-fields{
    width: 25%;
}